{# Field render macros. Import with context so macros inherit watch/domain from caller scope.
   Usage: {% from "macros/fields.html" import watch_field with context %}
          {{ watch_field(field_contexts["name"]) }}
          {{ domain_field(field_contexts["min_interval"]) }} #}

{% macro watch_field(ctx) %}
{% set field_name = ctx.field_name %}
{% set field_label = ctx.field_label %}
{% set field_hint = ctx.field_hint %}
{% set field_value = ctx.field_value %}
{% set field_type = ctx.field_type %}
{% set field_step = ctx.field_step %}
{% set field_min = ctx.field_min %}
{% set field_unit = ctx.field_unit %}
{% set field_options = ctx.field_options %}
{% set field_mode = ctx.field_mode %}
{% include "partials/watch_field.html" %}
{% endmacro %}

{% macro domain_field(ctx) %}
{% set field_name = ctx.field_name %}
{% set field_label = ctx.field_label %}
{% set field_hint = ctx.field_hint %}
{% set field_value = ctx.field_value %}
{% set field_type = ctx.field_type %}
{% set field_step = ctx.field_step %}
{% set field_min = ctx.field_min %}
{% set field_unit = ctx.field_unit %}
{% set field_options = ctx.field_options %}
{% set field_mode = ctx.field_mode %}
{% include "partials/domain_field.html" %}
{% endmacro %}
